# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.DesignPattern.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\moame\RiderProjects\DesignPattern\.idea\.idea.DesignPattern\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
